body{
    margin: 0;
  background-image: url(../public/counterbackground.png);

}

.body-background{
  background-image: none;
  background-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

header {
    background-color: #000000;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }



  footer {
    background-color: #000000;
    display: flex;
    justify-content: end;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer p {
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 5px 45px;
  }

  .counter-container {
    text-align: center;
    margin-top: 250px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: none;
   
  }
  
  .counter-value {
    font-size: 100px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
  }
  
  .btn-container {

    
    padding-top: 0px;
    margin-top: 10px;
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  


.btn-global{
  color: white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
font-weight: bold;
}

.btn-global:hover{

background: linear-gradient(0deg,#e4d72a,#f06bf5);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2);
  
  transform: translateY(-2px);
}